<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="loggingEnv" source="aandi.logging.env" defaultValue="default"/>
    <springProperty scope="context" name="loggingServiceName" source="aandi.logging.service.name" defaultValue="gateway"/>
    <springProperty scope="context" name="loggingDomainCode" source="aandi.logging.service.domain-code" defaultValue="1"/>
    <springProperty scope="context" name="loggingVersion" source="aandi.logging.service.version" defaultValue="unknown"/>
    <springProperty scope="context" name="loggingInstanceId" source="aandi.logging.service.instance-id" defaultValue="unknown"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.aandi.gateway.logging.StructuredJsonLogLayout">
                <env>${loggingEnv}</env>
                <serviceName>${loggingServiceName}</serviceName>
                <domainCode>${loggingDomainCode}</domainCode>
                <version>${loggingVersion}</version>
                <instanceId>${loggingInstanceId}</instanceId>
            </layout>
        </encoder>
    </appender>

    <appender name="CLOUDWATCH" class="ca.pjer.logback.AwsLogsAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <layout class="com.aandi.gateway.logging.StructuredJsonLogLayout">
            <env>${loggingEnv}</env>
            <serviceName>${loggingServiceName}</serviceName>
            <domainCode>${loggingDomainCode}</domainCode>
            <version>${loggingVersion}</version>
            <instanceId>${loggingInstanceId}</instanceId>
        </layout>
        <logGroupName>/a-and-i/gateway</logGroupName>
        <logStreamUuidPrefix>gateway-</logStreamUuidPrefix>
        <logRegion>ap-northeast-2</logRegion>
        <maxBatchLogEvents>50</maxBatchLogEvents>
        <maxFlushTimeMillis>30000</maxFlushTimeMillis>
        <maxBlockTimeMillis>5000</maxBlockTimeMillis>
    </appender>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="CLOUDWATCH"/>
        </root>
    </springProfile>

    <springProfile name="!local &amp; !prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>
